body{
    background-image: url(../img/witch.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    width: 60rem;
    height: 40rem;
    margin: 0 auto;
    position: relative;
}

.witch{
    bottom: 0;
    height: inherit;
    left: 10rem;
    position: absolute;
    width: 25rem;
}

.hair{
background-color: rgb(255, 123, 0);
border-bottom-left-radius: 0.5rem;
border-bottom-right-radius: 0.5rem;
height: 8rem;
left: 6rem;
position: absolute;
top: 11rem;
width: 12rem;
}

.head{
height: 6rem;
background-color: #F5DABF;
border-bottom-left-radius: 10rem;
border-bottom-right-radius: 10rem;
left: 8rem;
position: absolute;
top: 12rem;
width: 8rem;
}

.head-copy{
    background-color: #F5DABF;
    border-bottom-left-radius: 10rem;
    border-bottom-right-radius: 10rem;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 3;
}

.eye-left{
    background-color: black;
    border-radius: 50%;
    height: 1.5rem;
    position: absolute;
    top: 0.5rem;
    width: 1.5rem;
    z-index: 3;
    left: 1.5rem;
}

.eye-right{
    background-color: black;
    border-radius: 50%;
    height: 1.5rem;
    position: absolute;
    top: 0.5rem;
    width: 1.5rem;
    z-index: 3;
    right: 1.5rem;
}

.pupil{
    background-color: white;
    border-radius: 50%;
    height: 0.5rem;
    left: 0.3rem;
    position: absolute;
    top: 0.2rem;
    width: 0.5rem;
}

.mouth{
    background-color: black;
    border-bottom-right-radius: 3rem;
    border-bottom-left-radius: 3rem;
    height: 1.75rem;
    left: 2.5rem;
    position: absolute;
    top: 3rem;
    width: 3rem;
    overflow: hidden;
    z-index: 3;
}

.tongue{
    background-color: red;
    border-radius: 50%;
    height: 1.5rem;
    position: relative;
    top: 0.5rem;
}

.cheek-left{
    background-color: pink;
    border-radius: 50%;
    height: 0.6rem;
    position: absolute;
    top: 2.25rem;
    width: 1rem;
    z-index: 3;
    left: 1rem;
}


.cheek-right{
    background-color: pink;
    border-radius: 50%;
    height: 0.6rem;
    position: absolute;
    top: 2.25rem;
    width: 1rem;
    z-index: 3;
    right: 1rem;
}

.ear-left{
    background-color: #EDC196;
    border-radius: 50%;
    height: 2rem;
    position: absolute;
    top: 0.5rem;
    width: 2rem;
    left: -1rem;
}

.ear-right{
    background-color: #EDC196;
    border-radius: 50%;
    height: 2rem;
    position: absolute;
    top: 0.5rem;
    width: 2rem;
    right: -1rem;
}

.neck{
    background-color:  #EDC196;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    height: 1.75rem;
    left: 11.2rem;
    position: absolute;
    top: 17.9rem;
    width: 1.75rem;
    z-index: 2;
}

.hat{
    background-color: black;
    border-top-right-radius: 30%;
    height: 11rem;
    left: 7.5rem;
    position: absolute;
    top: 5.2rem;
    width: 10rem;
    z-index: -1;
    transform: rotate(-60deg) skewX(-30deg) scale(1,.866);
}

.hat-brim{
    background-color: black;
    border-radius: 0.5rem;
    height: 1.1rem;
    left: 2rem;
    position: absolute;
    top: 10rem;
    width: 20rem;
}

.arm-left{
    background-color: black;
    border-bottom-left-radius: 10rem;
    border-bottom-right-radius: 10rem;
    height: 4.5rem;
    position: absolute;
    top: 19rem;
    width: 7rem;
    left: 3rem;
}

.arm-right{
    background-color: black;
    border-bottom-left-radius: 10rem;
    border-bottom-right-radius: 10rem;
    height: 4.5rem;
    position: absolute;
    top: 19rem;
    width: 7rem;
    right: 3rem;

}


.hand-left{
background-color: #F5DABF;
border-radius: 50%;
height: 2.25rem;
position: absolute;
top: -0.75rem;
width: 2.25rem;
left: -1rem;
}

.hand-right{
background-color: #F5DABF;
border-radius: 50%;
height: 2.25rem;
position: absolute;
top: -0.75rem;
width: 2.25rem;
right: -1rem;
}

.finger-left{
    background-color: #F5DABF;
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
    height: 1.5rem;
    position: absolute;
    top: -1rem;
    width: 0.75rem;
    left: 1.25em;
}

.finger-right{
    background-color: #F5DABF;
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
    height: 1.5rem;
    position: absolute;
    top: -1rem;
    width: 0.75rem;
    right: 1.25em;
}

.finger-skew-left{
    background-color: #F5DABF;
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
    height: 1.5rem;
    position: absolute;
    top: -0.75rem;
    width: 0.75rem;
    left: 0.2rem;
    transform: rotate(315deg);
}


.finger-skew-right{
    background-color: #F5DABF;
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
    height: 1.5rem;
    position: absolute;
    top: -0.75rem;
    width: 0.75rem;
    right: 0.2rem;
    transform: rotate(45deg);
}


.body{
    background-color: black;
    height: 18rem;
    position: absolute;
    top: 12.88rem;
    left: 6rem;
    width: 12.5rem;
    clip-path: polygon(26% 34%, 72% 34%, 100% 100%, 0% 100%);
}


.leg{
    background-color: black;
    height: 2.75rem;
    left: 10rem;
    position: absolute;
    top: 30.8rem;
    width: 1.5rem;
}

.foot{
    background-color: rgb(96, 65, 51);
    border-top-left-radius: 0.5rem;
    height: 0.75rem;
    left: -1.5rem;
    position: absolute;
    top: 2rem;
    width: 3rem;
}

.cauldron{
    height: 10.5rem;
    left: 19rem;
    overflow: hidden;
    position: absolute;
    top: 23.25rem;
    width: 14rem;

}

.cauldron-body{
    background-color: #2D4158;
    border-radius: 50%;
    bottom: 0.25rem;
    height: 12rem;
    position: absolute;
    width: 14rem;
    z-index: 4;
}

.cauldron-brim-top{
    background-color: #2D4158;
    height: 1.5rem;
    position: absolute;
    z-index: 4;
    border-radius: 1.5rem;
    top: 0rem;
    width: 100%;
}


.cauldron-brim-bottom{
    background-color: #2D4158;
    height: 1.5rem;
    position: absolute;
    z-index: 4;
    border-radius: 50%;
    height: 2rem;
    left: 0.65rem;
    top: 0.5rem;
    width: 90%;
}

.cauldron-leg-left{
    background-color: #2D4158;
    border-top-right-radius: 50%;
    border-top-left-radius: 80%;
    bottom: -1.5rem;
    height: 7rem;
    position: absolute;
    width: 2rem;
    left: 1rem;
    transform: rotate(160deg) skewX(-30deg) scale(1,.466);
}

.cauldron-leg-right{
    background-color: #2D4158;
    border-top-right-radius: 50%;
    border-top-left-radius: 80%;
    bottom: -1.5rem;
    height: 7rem;
    position: absolute;
    width: 2rem;
    right: 1rem;
    transform: rotate(120deg) skewX(-30deg) scale(1,.466);
}

